#Colours for Echos L=Light, D=Dark, B=Bold
NC='\033[0m' # No Color
WHITE='\033[0;37m'
B_WHITE='\033[1;37m'
PURPLE='\033[0;35m'
LB_PURPLE='\033[1;95m'
ORANGE='\033[0;33m'
BLUE='\033[0;34m'
L_BLUE='\033[0;94m'
LB_BLUE='\033[1;94m'
D_BLUE='\033[1;34m'
B_CYAN='\033[1;36m'
CYAN='\033[0;36m'
GREEN='\033[0;32m'
L_GREEN='\033[0;92m'
LB_GREEN='\033[1;92m'
RED='\033[0;31m'
LB_RED='\033[1;91m'

#ALIASES
# Using the better python
alias bp=bpython
alias py=python3    

# Specific locations
alias dot="cd ~/.dotfiles"
alias funcs="cd ~/.dotfiles/term/funcs"


#Git
alias gpush="git push"
alias gpull="git pull"
alias ga="git add"
alias gc="git commit"
alias gd="git diff"
alias grm="git rm"
alias glog="git log --graph --oneline --decorate --all"
alias huh="~/.dotfiles/term/apps/git-st"
alias greset="git checkout HEAD --"

#Other
alias fucking="sudo"
alias yo="ping 8.8.8.8"
alias journal="cd ~/.timeline"
alias ,="ssh"
alias sfuncs="source $HOME/.funcs"      # Source all functions
alias yrmd="yes | rm -r"                # Delete directory and yes it all
alias okta="cd ~/bit-bucket/is-integrations/"
alias bb="cd ~/bit-bucket"
alias wm="brew services restart chunkwm"
